*{
    margin:0;
    padding: 0;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.body1{
    background-color: #E0FFFB;
}
.rgba-white-light
  {
      background-color: aqua;
  }
p{
    margin-bottom: 2px;
}
.nav-item{
    width:fit-content;
    font-family: 'Montserrat', sans-serif;
    padding-left:25px;
    font-weight: bold;
    padding-right:25px;
}
.nav-item:hover{
    background-color: #E4FBFF;
    border-radius: 5px;
}
.college{
    display: flex;
    background: #0E6AC7;
    justify-content:flex-start ;
}
.image1{
    /* margin: 20px 10px; */
    max-width: 8%;
    flex-wrap: wrap;
}
.image2{
    margin: 20px 10px;
    max-width: 3%;
    margin-top: 30px;
    position: absolute;
    top: 70px;
    right: 250px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
.homeicon{
    float:left;
}
.rns{
     /* float: right; */
    margin-top: 40px;
    margin-left: 10px;
    flex-grow: 2;
    order:2;

}
.csi{
     float: right;
    margin-top: 90px;
    position: absolute;
    top: 30px;
    right: 10px;
    align-self: flex-end;
    order:3;
}

.navbar-brand{
    font-family: serif;
}
.menubar{
    background: #0E6AC7;
    text-align:center;
}
.menubar ul{
    display: inline-flex;
    list-style: none;
    color:white;
}
.menubar ul li{
    width:max-content;
    margin:15px;
    padding-left: 15px;
    padding-right: 15px;
    height:25px;
}
.menubar ul li a{
    text-decoration: none;
    color: #fff;
}
.menubar ul li:hover{
    background: #4FB9FC;
    border-radius:4px;
}
.menubar .fa{
    margin: 2px;
}
.carousel{
    height: 600px;
    
}
.carous{
    margin-top: 20px;
    margin-left: 90px;
    height: 600px;
    width: 800px;
}


/* .show > .dropdown-menu {
  max-height: 900px;
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
  max-height: 50px;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
} */
#marqueecontainer {
    position: relative;
    background-color: #FFF;
    overflow:hidden;
    padding-right:2px;
    padding-left: 2px;
    background-color:rgb(255, 255, 255);
    margin:0px;height:200px;width: 240px;
}

.white-box-link a {
    color: #36559D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-decoration: none;
    margin-left: 10px;
}

    .white-box-link a:hover {
        color: #21c82f;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
        text-decoration: none;
    }

.rectnews {
    float: left;
    height: 30px;
    margin: 0 10px;
    width: 280px;
}

.white-box-link {
    color: #36559D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    width: 282px;
}

.gdlr-caption-inner{
    width:300px ;
    padding-top:15px;
    padding-left: 30px;
    align-self: flex-start;
    height:250px;
}
.gdlr-caption
 {
     width: 250px;
 }
.top-bar
 {
     display:flex;
 }